<div>


  <input type="text" [(ngModel)]="path">
  <h3>Database test</h3>
  <form [formGroup]="form">
    <div>
      <input type="text" formControlName="username" placeholder="username">
    </div>
    <div>
      <input type="text" formControlName="email" placeholder="email">
    </div>
    <div>
      <input type="text" formControlName="password" placeholder="password">
    </div>
  </form>
  <button (click)="onSubmit()"> submit </button>
  <button (click)="onGet()"> get </button>
</div>

<div>
  <ng-container *ngFor="let item of array">
    <div @fade>
      {{ item | json }}
      <button (click)="onDelete(item.id)">delete</button> <button (click)="onSelect(item.id)">Select</button>
    </div>

  </ng-container>
</div>
<div>
  {{selectedItem | json}} <button *ngIf="selectedItem"  (click)="onUpdate(selectedItem.id)">Update</button>
</div>
